body {
  margin: 0;
  padding: 0;
  height: 100%;
}

nav a {
  color: #fff; 
  align-items: center;
}

nav a:hover,
nav a:focus {
  color: #fff;
}

.container-fluid {
  padding: 20px; 
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.carousel-inner {
  border-radius: 10px; 
}
.carousel-control-next-icon {
  background-color: #007bff; 
}

.container {
  color: rgba(255, 255, 255, 0.7);
  padding: 2px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.kiri {
  text-align: left;
  font-weight: 300;
  color: #000;
  padding: 10px;
  margin-left: 40px ;
  text-align: justify;
  width: 30rem;
}
.name1{
  color: yellow;
}

.name{
  color: black;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 50%;
  margin-left: 10rem;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0056b3; 
}

section{
  color: #000;
}

#contact {
  background-color: rgba(255, 255, 255, 0.7);
}

.contact h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}
.container2{
  background-color: rgba(255, 255, 255, 0.7);
}
.kanan{
  margin-left: 7rem;
}
.atas{
  margin-left: 4rem;
}
.kiri{
  margin-left:120px;
}
